// Place all the styles related to the Actividads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.actividad p
{
margin:0px;
}
  
  .hr {
     margin-top: 0px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #eee;
}


 .actividad
  {
    
    padding: 10px;
    color: gray;
    
    border: 1px solid #cecece;
  font-size: 13px;
     -webkit-transition: box-shadow 0.3s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.3s;
  }
 .actividad:hover
  {
  
    box-shadow: rgb(136, 136, 136) 0px 0px 8px 0px;
  }


.p
{
  margin:0px;
  text-align: right;
}

