/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
  *= require chosen
 */
.app{
       background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
 url('https://c1.staticflickr.com/1/613/32336986213_422417cf8f_o.jpg')no-repeat center top;
  background-size: cover;
  
}
.admin
{
	margin:0px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #428bca;
    border-color: #357ebd;
}
.color-blue
{
	    color: #428bca;
}

.navbar-brand {
    float: left;
    padding: 0px 15px !important;

  }
  .navbar-brand img {
 width:220px;
}
/*.vigente
{
      border-right: 10px solid #19964b;
    border-left: 10px solid #19964b;

}
.proxi
{
      border-right: 10px solid #dcc52a;
    border-left: 10px solid #dcc52a;

}
.vencida
{
          border-left: 10px solid #dc422a;
        border-left: 10px solid #dc422a;
      }*/



.vigentet
{
      background: #19964b !important;
    color:white !important;
}
.proxit
{
      background: #dcc52a!important;
   color:white !important;
    
}
.vencidat
{
         background:  #dc422a !important;
        color:white!important;
      }

.segui
{
      background: #2eb7ff;
    color: white;
    padding: 10px;
}

.link-blanco
{
  color:white;
}
.hr-10
{
      margin-top: 10px;
    margin-bottom: 10px;
}